<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="styles.css" />
		<title>Template</title>
	</head>
	<body>
		<div class="content">
			<nav class="navBar">
				<button>HOME</button>
				<button>ABOUT US</button>
				<button>CONTACT</button>
				<button>COMPANY</button>
				<button>SERVICES</button>
			</nav>
			<div class="title">
				<div class="titlu">TechCorporate</div>
				<div class="add">Free PSD Website Template</div>
				<div class="contacts">Tel: xxxx xxxxxxxxx Mail: info@domain.com</div>
			</div>
			<div class="container">
				<div class="tag">
					<div class="mare">Lorem ipsum dolor sit amet et wisi</div>
					<div class="tag2">Todays Technology &gt;&gt;</div>
					<div class="mic">
						Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident
						est quo necessitatibus incidunt tempora, saepe aliquam ab quibusdam
						ad sequi earum debitis numquam nam omnis temporibus dignissimos
						delectus vero id.
					</div>
				</div>
				<img src="images/poza.jpg" alt="" />
			</div>
			<div class="articles">
				<div>
					<div class="a">Indonectetus fecilis leo nibh</div>
					<div class="b">240 X 90px</div>
					<div class="c">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
						corrupti soluta, quis libero incidunt sunt quia facilis
						perspiciatis, amet officia commodi aliquam iste ratione sed vel esse
						rem asperiores nemo.
					</div>
					<div class="d">Read More &gt;&gt;</div>
				</div>
				<div>
					<div class="a">Indonectetus fecilis leo nibh</div>
					<div class="b">240 X 90px</div>
					<div class="c">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
						corrupti soluta, quis libero incidunt sunt quia facilis
						perspiciatis, amet officia commodi aliquam iste ratione sed vel esse
						rem asperiores nemo.
					</div>
					<div class="d">Read More &gt;&gt;</div>
				</div>
				<div>
					<div class="a">Indonectetus fecilis leo nibh</div>
					<div class="b">240 X 90px</div>
					<div class="c">
						Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis
						corrupti soluta, quis libero incidunt sunt quia facilis
						perspiciatis, amet officia commodi aliquam iste ratione sed vel esse
						rem asperiores nemo.
					</div>
					<div class="d">Read More &gt;&gt;</div>
				</div>
			</div>
			<div id="info">
				<div class="pozaInfo">
					<div class="poza200">200 X 160px</div>
					<div class="informatie">
						<div class="e">Indonectetus fecilis leo nibh</div>
						<div class="f">
							Lorem, ipsum dolor sit amet consectetur adipisicing elit.
							Blanditiis corrupti soluta, quis libero incidunt sunt quia facilis
							perspiciatis, amet officia commodi aliquam iste ratione sed vel
							esse rem asperiores nemo.
						</div>
						<div class="g">Contionue reading &gt;&gt;</div>
					</div>
				</div>
				<div class="categories">
					<div class="h">Categories</div>
					<a href="">&gt;&gt;Link Text Goes Here</a>
					<a href="">&gt;&gt;Link Text Goes Here</a>
					<a href="">&gt;&gt;Link Text Goes Here</a>
					<a href="">&gt;&gt;Link Text Goes Here</a>
					<a href="">&gt;&gt;Link Text Goes Here</a>
				</div>
			</div>
			<div class="navBot">
				<div>174 X 100px</div>
				<div>174 X 100px</div>
				<div>174 X 100px</div>
				<div>174 X 100px</div>
				<div>174 X 100px</div>
			</div>
			<div class="final">
				<div>Copy right @ 2009 Domain Name - All Tights Reserved</div>
				<div>Template by OS Templates</div>
			</div>
		</div>
	</body>
</html>
